.navBar {
  .nav-Flow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
}
// MNZ logo on the menu
.nav-Logo {
  a {
    font-size: 25px;
    font-weight: 900;
    color: var(--light-white);
    transition: ease-in-out 500ms;
    text-decoration: none;
    &:hover {
      color: var(--white-text);
    }
  }
}
.off-Canvas-Nav {
  color: var(--white-text);
  backdrop-filter: blur(19px) saturate(158%);
  -webkit-backdrop-filter: blur(19px) saturate(158%);
  background-color: rgba(19, 23, 25, 0.6) !important;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  .offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .offcanvas-body {
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-Bottom-Link{
    display: flex;
    flex-direction: column;
    
  }
}
