.navBar {
  .nav-Flow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav-Logo {
    a {
      font-size: 25px;
      font-weight: 900;
      color: var(--light-white);
      transition: ease-in-out 500ms;
      text-decoration: none;
      &:hover {
        color: var(--white-text);
      }
    }
  }
}
